<div class="input-container">
    <input type="text" #searchBox  id ="search-box" placeholder="search" [value] = 'searchValue' (keyup)="saveSearchQuery()" [(ngModel)] = "searchTitle" >
 </div>
 <div class="card-container">
 <app-card  *ngFor="let iterResponse of pageSlice |search:searchTitle" [newsList] = 'iterResponse'>
 </app-card>
 <div class="paginator-container">
    <mat-paginator showFirstLastButtons [pageSize] = "10"  [length] = "this.newsList.length" (page) = "OnPageChange($event)" ></mat-paginator>
 </div>